<h:form xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui">
    <p:growl id="messages"/>
    <p:menubar>
        <p:menuitem value="Home" url="/"/>
        <p:menuitem value="Projects" url="/projectList.xhtml"/>
        <p:menuitem value="Tasks" url="/taskList.xhtml"/>
    </p:menubar>
</h:form>