<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Project</title>
</h:head>
<h:body>
    <p:dataTable var="project" value="#{projectBean.findOne(projectBean.id)}">
        <p:column headerText="Project ID:">
            <h:outputText value="#{project.id}"/>
        </p:column>
        <p:column headerText="Project name:">
            <h:outputText value="#{project.name}"/>
        </p:column>
        <p:column headerText="Project description:">
            <h:outputText value="#{project.description}"/>
        </p:column>
        <p:column headerText="Project date of creation:">
            <h:outputText value="#{project.dateOfCreation}"/>
        </p:column>
        <p:column headerText="Project start date:">
            <h:outputText value="#{project.dateStart}"/>
        </p:column>
        <p:column headerText="Project finish date:">
            <h:outputText value="#{project.dateFinish}"/>
        </p:column>
        <p:column headerText="Project status:">
            <h:outputText value="#{project.status}"/>
        </p:column>
    </p:dataTable>
</h:body>
</html>