<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Project</title>
</h:head>
<h:body>
    <ui:include src="navbar.xhtml"/>
    <p:dataTable var="task" value="#{taskBean.findAllByProject(projectBean.id)}">
        <p:column headerText="Project ID:">
            <h:outputText value="#{task.projectId}"/>
        </p:column>
        <p:column headerText="Task ID:">
            <h:outputText value="#{task.id}"/>
        </p:column>
        <p:column headerText="Task name:">
            <h:outputText value="#{task.name}"/>
        </p:column>
        <p:column headerText="Task description:">
            <h:outputText value="#{task.description}"/>
        </p:column>
        <p:column headerText="Task date of creation:">
            <h:outputText value="#{task.dateOfCreation}"/>
        </p:column>
        <p:column headerText="Task start date:">
            <h:outputText value="#{task.dateStart}"/>
        </p:column>
        <p:column headerText="Task finish date:">
            <h:outputText value="#{task.dateFinish}"/>
        </p:column>
        <p:column headerText="Task status:">
            <h:outputText value="#{task.status}"/>
        </p:column>
        <p:column headerText="Edit" style="width: 100px; text-align: center">
            <p:commandButton action="taskUpdate?faces-redirect=true" value="Edit">
                <f:setPropertyActionListener target="#{taskBean.id}" value="#{task.id}"/>
                <f:setPropertyActionListener target="#{taskBean.projectId}" value="#{projectBean.id}"/>
            </p:commandButton>
        </p:column>
        <p:column headerText="Delete" style="width: 100px; text-align: center">
            <p:commandButton value="Delete" action="#{taskBean.delete(task.id)}"/>
        </p:column>
    </p:dataTable>
    <p:button outcome="taskCreate" value="Create task" style="margin-right:20px;">
    </p:button>
</h:body>
</html>