<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Edit project</title>
</h:head>
<h:body>
    <ui:include src="navbar.xhtml"/>
    <h:form>
        <h2>Edit project</h2>
        <ui:param name="project" var="project" value="#{projectBean.findOne(projectBean.id)}"/>
        <p:panelGrid columns="1" styleClass="ui-fluid center ui-noborder">
            <h:outputText for="name" value="Name: "/>
            <p:inputText id="name" value="#{projectBean.name}" required="true" label="Name"/>

            <h:outputText for="description" value="Description: "/>
            <p:inputText id="description" value="#{projectBean.description}" label="Description"/>

            <h:outputText for="dateStart" value="Project start date: "/>
            <p:inputMask id="dateStart" value="#{projectBean.dateStart}" mask="99.99.9999">
                <f:convertDateTime type="date" pattern="dd.MM.yyyy"/>
            </p:inputMask>

            <p:outputLabel for="dateFinish" value="Project finish date: "/>
            <p:inputMask id="dateFinish" value="#{projectBean.dateFinish}" mask="99.99.9999">
                <f:convertDateTime type="date" pattern="dd.MM.yyyy"/>
            </p:inputMask>

            <p:outputLabel for="status" value="Status: "/>
            <p:selectOneMenu id="status" value="#{projectBean.status}" effect="fold" editable="true" required="true">
                <f:selectItem itemLabel="PLANNING" itemValue="PLANNING"/>
                <f:selectItem itemLabel="IN_PROCESS" itemValue="IN_PROCESS"/>
                <f:selectItem itemLabel="READY" itemValue="READY"/>
            </p:selectOneMenu>
        </p:panelGrid>
        <p:commandButton type="submit" action="#{projectBean.update(projectBean.id, projectBean.name,
                projectBean.description, projectBean.dateStart, projectBean.dateFinish, projectBean.status)}"
                         value="Edit project" style="margin-right:20px;">
        </p:commandButton>
    </h:form>
</h:body>
</html>