<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Create project</title>
</h:head>
<h:body>
    <ui:include src="navbar.xhtml"/>
    <h:form id="form">
        <p:messages>
            <p:autoUpdate/>
        </p:messages>
        <p:panelGrid columns="1" styleClass="ui-fluid center ui-noborder">
            <h2>Create project</h2>
            <h:outputText for="name" value="Name"/>
            <p:inputText id="name" value="#{projectBean.name}" label="Name" required="true"/>

            <h:outputText for="description" value="Description"/>
            <p:inputText id="description" value="#{projectBean.description}" label="Description"/>

        </p:panelGrid>
        <p:commandButton action="#{projectBean.create(projectBean.name, projectBean.description)}"
                         value="Create project" style="margin-right:20px;">
        </p:commandButton>
    </h:form>
</h:body>
</html>