<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Edit project</title>
</h:head>
<h:body>
    <ui:include src="navbar.xhtml"/>
    <h:form>
        <h2>Edit task</h2>
        <ui:param name="task" var="task" value="#{taskBean.findOne(taskBean.id)}"/>
        <p:panelGrid columns="1" styleClass="ui-fluid center ui-noborder">

            <h:outputText for="name" value="Name: "/>
            <p:inputText id="name" value="#{taskBean.name}" required="true" label="Name"/>

            <h:outputText for="description" value="Description: "/>
            <p:inputText id="description" value="#{taskBean.description}" label="Description"/>

            <h:outputText for="dateStart" value="Project start date: "/>
            <p:inputMask id="dateStart" value="#{taskBean.dateStart}" mask="99.99.9999">
                <f:convertDateTime type="date" pattern="dd.MM.yyyy"/>
            </p:inputMask>

            <p:outputLabel for="dateFinish" value="Project finish date: "/>
            <p:inputMask id="dateFinish" value="#{taskBean.dateFinish}" mask="99.99.9999">
                <f:convertDateTime type="date" pattern="dd.MM.yyyy"/>
            </p:inputMask>

            <p:outputLabel for="status" value="Status: "/>
            <p:selectOneMenu id="status" value="#{taskBean.status}" effect="fold" editable="true" required="true">
                <f:selectItem itemLabel="PLANNING" itemValue="PLANNING"/>
                <f:selectItem itemLabel="IN_PROCESS" itemValue="IN_PROCESS"/>
                <f:selectItem itemLabel="READY" itemValue="READY"/>
            </p:selectOneMenu>
        </p:panelGrid>
        <p:commandButton type="submit" action="#{taskBean.update(taskBean.id, taskBean.name,
                taskBean.description, taskBean.dateStart, taskBean.dateFinish, taskBean.status)}"
                         value="Edit task" style="margin-right:20px;">
            <f:setPropertyActionListener
                    target="#{projectBean.id}" value="#{task.projectId}"/>
        </p:commandButton>
    </h:form>
</h:body>
</html>